<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About page</title>
    <link rel="stylesheet" href="">
</head>
<body>
    {{> header }}
    <p>Content goes here</p>
    {{> footer }}
</body>
</html>